@media all and (max-width: 1330px) and (min-width: 1180px) {
  header.boxed .header-margin {
    width: 1000px;
  }
  .content .text-intro {
    width: 1000px;
  }
  .footer-margin {
    width: 1000px;
  }
  .content .text-intro h1, .content .text-intro p {
    width: 60%;
  }
  #full {
    width: 1000px;
  }
  .prev-next {
    max-width: 1000px;
  }
  .swiper-wrapper img {
    width: 89px;
  }
  /*
  **************************
  Portfolio Grid
  **************************
  */
  #portfolio-sidebar {
    width: 710px !important;
    padding-right: 320px;
  }
  .portfolio-grid {
    width: 1030px;
  }
  .grid-hover, li.grid-item, li.grid-item img {
    width: 312px;
  }
}

@media all and (max-width: 1179px) and (min-width: 1024px) {
  header.boxed .header-margin {
    width: 800px;
  }
  .content .text-intro {
    width: 800px;
  }
  .footer-margin {
    width: 800px;
  }
  #full {
    width: 800px;
  }
  .prev-next {
    max-width: 800px;
  }
  .swiper-wrapper img {
    width: 89px;
  }
  /*
  **************************
  Portfolio Grid
  **************************
  */
  #portfolio-sidebar {
    width: 580px !important;
    padding-right: 250px;
  }
  .portfolio-grid {
    width: 830px;
  }
  .grid-hover, li.grid-item, li.grid-item img {
    width: 246px;
  }
}

@media all and (max-width: 1023px) and (min-width: 769px) {
  header.boxed .header-margin {
    width: 600px;
  }
  .content .text-intro {
    width: 600px;
  }
  .footer-margin {
    width: 600px;
  }
  .content .text-intro h1, .content .text-intro p {
    width: 100%;
  }
  #full {
    width: 600px;
  }
  .prev-next {
    max-width: 600px;
  }
  .home-sidebar {
    display: none;
  }
  ul.header-nav {
    width: 50%;
  }
  header li>a {
    padding-right: 15px;
    padding-left: 15px;
  }
  .swiper-wrapper img {
    width: 89px;
  }
  /*
  **************************
  Portfolio Grid
  **************************
  */
  #portfolio-sidebar {
    width: 630px !important;
    padding-right: 0;
  }
  .portfolio-grid {
    width: 630px;
  }
  .grid-hover, li.grid-item, li.grid-item img {
    width: 282px;
  }
}

@media all and (max-width: 768px) and (min-width: 481px) {
  header.boxed .header-margin {
    width: 400px;
  }
  .content .text-intro {
    width: 400px;
  }
  .footer-margin {
    width: 400px;
  }
  .content .text-intro h1, .content .text-intro p {
    width: 100% !important;
  }
  #full {
    width: 400px;
    display: block !important;
  }
  .menu-index {
    display: block !important;
  }
  .prev-next {
    max-width: 400px;
  }
  .home-sidebar {
    display: none;
  }
  ul.header-nav {
    width: 50%;
  }
  header li>a {
    padding-right: 15px;
    padding-left: 15px;
  }
  .one-column, .two-column {
    width: 100%;
  }
  .contact-one, .contact-two, .contact-three, .contact-four {
    width: 100%;
  }
  textarea {
    height: 250px;
  }
  input.button-submit {
    margin-bottom: 100px;
  }
  .logo .phone {
    font-size: 13px;
  }
  header.boxed {
    display: none !important;
  }
  #footer-left {
    text-align: center;
  }
  .swiper-wrapper img {
    width: 77px;
  }
  /*
  **************************
  Portfolio Grid
  **************************
  */
  #portfolio-sidebar {
    width: 430px !important;
    padding-right: 0;
  }
  .portfolio-grid {
    width: 430px;
  }
  .grid-hover, li.grid-item, li.grid-item img {
    width: 400px;
      height: 300px;
  }
}

@media all and (max-width: 480px) and (min-width: 320px) {

  .body_background {
  background: url(../img/brush.png) no-repeat;
   
  }
  
  header.boxed .header-margin {
    width: 280px;
  }
  p {
    font-size: 13px;
  }
  .content .text-intro p {
    font-size: 13px;
  }
  .logo .phone {
    padding: 40px 6px 20px;
  }
  h2 {
    font-size: 20px;
    line-height: 32px;
    padding-top: 20px;
  }
  div .ajax-link img {
    width: 100px;
    padding: 40px 0px 20px;
  }
  .content .text-intro {
    width: 280px;
  }
  .content .text-intro {
    margin: 140px auto 0;
  }
  .footer-margin {
    width: 280px;
  }
  .footer-margin .copyright {
    line-height: 40px;
  }
  .content .text-intro h1, .content .text-intro p {
    width: 100% !important;
  }
  #full {
    width: 280px;
    display: block !important;
  }
  .menu-index {
    display: block !important;
  }
  .prev-next {
    max-width: 280px;
  }
  .home-sidebar {
    display: none;
  }
  .one-column, .two-column {
    width: 100%;
  }
  .contact-one, .contact-two, .contact-three, .contact-four {
    width: 100%;
  }
  .contact-four {
    margin-bottom: 50px;
  }
  textarea {
    height: 250px;
  }
  input, textarea {
    padding: 0;
  }
  input.button-submit {
    margin-bottom: 100px;
  }
  header.boxed {
    display: none !important;
  }
  #footer-left {
    text-align: center;
  }
  .content .text-intro h1 {
    font-size: 20px;
    line-height: 35px;
  }
  .swiper-wrapper img {
    width: 69px;
  }
  /*
  **************************
  Portfolio Grid
  **************************
  */
  #portfolio-sidebar {
    width: 310px !important;
    padding-right: 0;
  }
  .portfolio-grid {
    width: 310px;
  }
  .grid-hover, li.grid-item, li.grid-item img {
    width: 250px;
      height: 189px;
  }
}

/*
  **************************
  styles for all LessOrThat width
  **************************
  */

@media all and (max-width: 768px) {
  .grid-hover {
    opacity: 0.9;
  }
}